
<li>
    <p>{{answer.name}} : {{answer.content}}</p>
    <br>
    {{update-answer answer=answer update="update"}}
    <br>
    <p>{{answer.votes}} likes</p>
    <button {{action 'upvote' answer}}><span class="glyphicon glyphicon-thumbs-up"></span></button>
    <button {{action 'addToFavorites' answer}}>Add to your Favorites</button>
</li>
