<h2>Q: {{model.item}} -- {{model.author}}</h2>
<hr>
<p>Question submitted on {{model.date}}</p>

{{question-detail question=model destroyQuestion="destroyQuestion"}}
{{update-question question=model update="update"}}



<!--

{{new-answer save2="save3" answer=model}}

{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}} -->
