{{question-detail question=model}}
{{update-question question=model update="update"}}

<h3>Answers</h3>
<ul>
  {{#each model.answers as |answer|}}
    {{answer.name}} : {{answer.content}}
    <br>
  {{/each}}
</ul>

{{new-answer save2="save3" answer=model}}
