<h2>Q: {{model.item}} -- {{model.author}}</h2>
<hr>
<p>Question submitted on {{model.date}}</p>

<!-- {{answer-list answers=model.answers}} -->

{{question-detail question=model destroyQuestion="destroyQuestion"}}
{{update-question question=model update="update"}}

<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>



{{new-answer save1="save2" question=model}}
